/* Back button */
#tabletBackBtn div {
	display:inline-block;
	font-size:30px;
}

#tabletBackBtn > div{
	padding-top:20px;
	padding-left: 20px;
}

#tabletBackBtn {
    position: absolute;
    top:-8px;
    z-index:999;
    left:-13px;
}

#login {
    float:right;
    background-color:rgb(200,94,54);
    color:white;
    text-align:center;
    border-radius: 3px;
    top:12px;
    position: relative;
    left:-14px;
}

#login .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

#login #login-box.tabletLogoutBtn {
    border:0px;
    box-shadow: 0 0px 1px #999;
    background:#FFF;
    border-radius: 3px;
}

  #tablet-warning-template {
    text-align:center;
    position:absolute;
    top:0px;
  }

  #tablet-warning-box-bg {
          background-color: black;
        opacity:0.8;
        width: 100%;
        height:100%;
        display:none;
        position:absolute;
        z-index:900;
        top:0px;
    }

    #tablet-warning-box {
        position:absolute;
        margin: 0 30em 0 40em;
        width:320px;
        display:none;
        z-index:900;
        top:100px;
        padding-top:30px;
        padding-bottom : 35px;
        background-color: #f1f2f3;
        border-radius:5px;
        -webkit-border-radius:5px;
        -khtml-border-radius:5px;
        -o-border-radius:5px;
        -ms-border-radius:5px;
        -moz-border-radius:5px;
  }

    #tablet-warning-box p{
        margin-left:2em;
        margin-right:2em;
  }

    #tablet-warning-box a{
        float:right;
        margin-left:2em;
        margin-right:2em;
  }
/* now the rest */